body {
  font: 14px "Roboto", sans-serif;
  margin: 0;
  font-weight: 300;
  background-color: #212121;
  color: #fff;
}

h1, h2, h3, h4 {
  font-weight: 500;
  margin: 5px 0 5px 0;
}

th {
  padding-left: 5px !important;
}

ol, ul {
  padding-left: 30px;
}

.attributes-form .attributes-header th {
  font-size: 18px !important;
}
